* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;

  /* border: 1px solid red; */
}


:root {
  --color-white-100: #fafafa;
  --color-black-300: #0c0f13;
  --color-black-500: #080a0c;
  --color-blue-600: #2463eb;
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.glassomorphism {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  border-radius: 10px;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-spaceb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mtop {
  margin-top: 62px;
}

.gap1 {
  gap: 20px;
}

.w100 {
  width: 100%;
}