.select_category {
    /* background-color: rebeccapurple; */
    max-width: 1400px;
    margin-inline: auto;
    padding: 20px;
}

.select_category .all_categories {
    display: flex;
    gap: 5px;
    /* padding: 5px 0; */
    justify-content: flex-end;
    flex-wrap: wrap;
}



.categories_heading {
    font-size: 2.5rem;
    text-align: end;
    color: gainsboro;
}

.all_categories .single_cat {
    border: none;
    padding: 5px;
    min-width: 100px;
    background-color: rgb(247, 243, 243);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-transform: capitalize;
}

.all_categories .single_cat:not(.active-category):hover {
    background-color: rgb(237, 234, 234);


}

.all_categories .active-category {
    color: white;
    background-color: #150050;
}

.what_we_provide {
    max-width: 1400px;
    /* margin: 10px; */
    padding: 20px;
    margin-inline: auto;
}

.explore_more {
    max-width: 1400px;
    margin-inline: auto;
}

.what_we_provide h2 {
    padding-bottom: 10px;
    font-size: 2rem;
    /* text-decoration: underline; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    color: #BB004B;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    place-items: center;
    gap: 20px;
}


.card_container .card:nth-child(even) .tag {
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
}

.card_container .card:nth-child(odd) .tag {
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
}

/* .card_container:nth-child(odd) .card .tag{
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
} */


.print_ads {
    width: 100%;
    /* background: blue; */
    padding-top: 50px;
}

.print_ads img {
    border-radius: 5px;
}

.seprator {
    margin-top: 30px;
    width: 100%;
    min-height: 150px;
    max-height: max-content;
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#BB004B 0.5px, transparent 0.5px), radial-gradient(#BB004B 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.seprator:hover {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#BB004B 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
}

.seprator span {
    font-size: 5rem;
    color: #BB004B;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.4s ease;
}

.seprator:hover>span {
    opacity: 1;
    font-size: 3rem;
}

@media (max-width:900px) {

    .what_we_provide,
    .select_category {
        padding: 10px;
    }
}

@media (max-width:600px) {
    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    .all_categories .single_cat {
        font-size: .8rem;
        min-width: 80px;

    }

    .seprator {
        min-height: 100px;
    }

    .seprator span {
        font-size: 2rem;
    }

    .seprator:hover>span {
        opacity: 1;
        font-size: 1.3rem;
    }

}